<!DOCTYPE html>
<html>
<head>
	<title>Create New Post</title>
</head>
<body>

<form action="/posts" method='post'>
	<label>Post Name</label>
	<br>
		<input type="text" name="name">
		<br><br>
	<label>Post Content</label>
	<br>
		<textarea type="text" name="content"></textarea>
		<br><br>
	<button type="submit" value="submit">Create Post</button>
</form>

</body>
</html>