<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<h2> Post name: <%= @post.name %> </h2>
	<p> Post content: <%= @post.content %> </p>

   	<form method="post" action="/posts/<%= @post.id %>/delete">
   	<input id="hidden" type="hidden" name="_method" value="delete">
   		<button type="submit" value="delete">Delete</button>
   	</form>

</body>
</html>